<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: "post_title" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<!-- <form action="/posts" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="5bkKvJyGufkVbw8zFipfRjPWF8MJg1v+oS0Jv0MkZctrd/gv8osxnKFLSGk5JYlQplZAooYuLNBjLWF/lvDzfw==">

  <div class="field">
    <label>Title</label>
    <input id="post_title" type="text" name="post[title]">
  </div>

  <div class="field">
    <label>Description</label>
    <textarea name="post[description]"></textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Post" data-disable-with="Create Post">
  </div>
</form> -->
